<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="glass">
                    <div class="p-4">
                        <div class="container text-center">
                            <img class="img1" src="https://sudishworld.com/icon/online.png">
                        </div>
                        <h1 class="text-center">Password Reset</h1>
                        <form [formGroup]="resetPassword">
                            <div class="form-group">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input
                                        [class.is-invalid]="resetPassword.get('email')?.invalid && resetPassword.get('email')?.touched"
                                        formControlName="email" type="email" matInput placeholder="Enter here">

                                    <mat-hint
                                        *ngIf="resetPassword.get('email')?.errors?.['required'] && resetPassword.get('email')?.touched"
                                        class="text-danger">email is required</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input
                                        [class.is-invalid]="resetPassword.get('password')?.invalid && resetPassword.get('password')?.touched"
                                        formControlName="password" type="password" matInput placeholder="Enter here">

                                    <mat-hint
                                        *ngIf="resetPassword.get('password')?.errors?.['required'] && resetPassword.get('password')?.touched"
                                        class="text-danger">Password is required</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Confirm Password</mat-label>
                                    <input [class.is-invalid]="resetPassword.errors?.['passwordMismatch']"
                                        formControlName="confirmPassword" type="password" matInput
                                        placeholder="Enter here">
                                    <mat-hint class="text-danger"
                                        *ngIf="resetPassword.errors?.['passwordMismatch']">Passwords do not
                                        match</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>OTP</mat-label>
                                    <input formControlName="otp" required matInput placeholder="Enter here">
                                </mat-form-field>
                            </div>
                            <div class="conatiner text-center ml10">
                                <button (click)="onSubmit()" class="glow-on-hover" mat-raised-button color="primary">Update</button>
                            </div>
                        </form>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>