/* Style for menu items */
.menu-item {
    display: flex;
    align-items: center;
}

/* Adjust the spacing between icon and text */
.mat-list-icon {
    margin-right: 12px; /* Adjust the margin as needed */
}

/* Style the menu text */
.glass {  
    margin-top: 10px;  
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


