<!-- <div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="glass">
                    <div class="p-4">
                        <div class="container text-center">
                            <img class="img1" src="https://sudishworld.com/icon/online.png">
                        </div>
                        <h1 class="text-center">Send OTP</h1>
                        <form>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input [(ngModel)]="forgetPassword.email" name="email" required matInput
                                    placeholder="Enter here">
                            </mat-form-field>
                            <div class="conatiner text-center ml10">
                                <button class="glow-on-hover" (click)="sendEmail(forgetPassword.email)" mat-raised-button color="primary">Send
                                    OTP</button>
                            </div>
                            <div *ngIf="isSendingEmail" class="loading-spinner">
                                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                                <p>Sending...</p>
                              </div>
                        </form>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div> -->
  

<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <mat-card class="glass">
            <div class="p-4">
              <div class="container text-center">
                <img class="img1" src="https://sudishworld.com/icon/online.png">
              </div>
              <h1 class="text-center">Send OTP</h1>
              <form [formGroup]="forgetPassword">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input formControlName="email" name="email" required matInput placeholder="Enter here">
                </mat-form-field>
                <div class="text-center mt-4">
                  <button class="glow-on-hover" [disabled]="isSendingEmail" (click)="sendEmail()" mat-raised-button color="primary">
                    <span *ngIf="!isSendingEmail">Send OTP</span>
                    <mat-spinner color="white" *ngIf="isSendingEmail" diameter="20" class="ml-2"></mat-spinner>
                  </button>
                </div>
              </form>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  